<section class="totaldevops" id="credentials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.home.credentials.heading }}</h2>
        </div>
      </div>
      <br>
      <br>
      <!-- Store systems implementation for big UK telco -->
      <div class="row">
        <div class="col-md-12">
          <h4 style="text-align: center; margin: 2.7rem;">{{ site.data.home.credentials.store.heading }}</h4>
        </div>
        <div class="col-md-3">
          <p style="text-align: justify;">
            <b>
              {{ site.data.home.credentials.store.sectiontxtb }}
            </b>
          </p>
          <p style="text-align: justify;">
            {{ site.data.home.credentials.store.sectiontxt1 }}
          </p>
          <p style="text-align: justify;">
            {{ site.data.home.credentials.store.sectiontxt2 }}
          </p>
        </div>
        <div class="col-md-9" style="padding: 0.2rem;">
          <img style="width: inherit" class="img-fluid zoom" src="assets/img/t.png">
        </div>
      </div>
      <br>
      <hr>
      <br>
      <!--Retail system implementation for big polish shoes retailer  -->
      <div class="row">
        <div class="col-md-12">
          <h4 style="text-align: center; padding: 0.2rem;">
            {{ site.data.home.credentials.retail.heading }}
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p style="text-align: center;">
            {{ site.data.home.credentials.retail.txt }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding: 0.2rem;">
          <img  style="  display:block;  margin-left: auto;  margin-right: auto;" src="assets/img/c.png" alt="">
        </div>
      </div>
      <!-- Billing system implementation for big polish telco -->
      <br>
      <hr>
      <br>
      <div class="row" style="padding: 0.2rem;">
        <div class="col-md-12">
          <h4 style="text-align: center; padding: 0.2rem;">
            {{ site.data.home.credentials.billing.heading }}
          </h4>
          <p style="text-align: justify; padding: 0.5rem; margin-left: 2%; margin-left: 2%;">
            {{ site.data.home.credentials.billing.txt }}
          </p>
        </div>
      </div>
      <div class="row" style="padding: 0.2rem;">
        <div class="col-md-6">
          <h5 style="text-align: center">
              {{ site.data.home.credentials.billing.tagains.name }}
          </h5>
          <ul class="list-dot">
            {%- for it in site.data.home.credentials.billing.tagains.points -%}
            <li>
              {{ it.point }}
            </li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="col-md-6">
          <h5 style="text-align: center">{{ site.data.home.credentials.billing.devgains.name }}</h5>
          <ul>
              {%- for it in site.data.home.credentials.billing.devgains.points -%}
              <li>
                {{ it.point }}
              </li>
              {%- endfor -%}
          </ul>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <!-- FOrmal DevOps processes... -->
      <div class="row" style="padding: 0.2rem;">
        <div class="col-md-12">
          <h4 style="text-align: center; padding: 0.2rem;">
              {{ site.data.home.credentials.billing.formal.heading }}
          </h4>
          <p style="text-align: center; padding: 0.2rem;">     
              {{ site.data.home.credentials.billing.formal.subheading }}
          </p>
        </div>

      </div>
      <div class="row" style="padding: 1.8rem;">
        <div class="col-md-12">
          
            <img style="  display:block;  margin-left: auto;  margin-right: auto;" src="assets/img/u1.png">
        </div>
      </div>
      <div class="row" style="padding: 1.8rem;">
        <div class="col-md-12">
          
            <img  style="  display:block;  margin-left: auto;  margin-right: auto;" src="assets/img/u2.png">
        </div>
      </div>
    </div>
      
  </section>