<header class="masthead">
    <div class="container"  style="margin-left: 10%">
      <div class="row">
        <div class="col-lg-5 intro-text">
          <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div>
          <div class="intro-heading ">{{ site.data.home.intro.heading }}</div>
          <div class="intro-heading " style="color: #49e63d;">{{ site.data.home.intro.heading-2 }}</div>
          <div class="intro-heading ">{{ site.data.home.intro.heading-3 }}</div>
          <br>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#cooperation" style="float: left;">{{ site.data.home.intro.btn }}</a>
        </div>
        <div class="col-lg-7">

        </div>
      </div>
    </div>
  </header>