<section class="totaldevops" id="rules" style="padding-top: 0">
    <div class="container">            
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="display-4" style="font-size: 1.8rem; text-align: left;">{{ site.data.home.totaldevops.rules.name }}</h3>
                    <div class="p-3">
                        {%- for it in site.data.home.totaldevops.rules.rules1 -%}        
                        <ul class="list-none">
                            <li class="list-none-plus">
                            <p style="font-size: 1rem;">
                                <i class="{{ site.data.home.plus.icon }}"></i>
                                {{ it.item }}
                            </p>
                            </li>
                        </ul>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="  display:block;"> 
                    <img style="  display:block;  margin-left: auto;  margin-right: auto;" src="assets/img/s_a.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="p-3">
                        {%- for it in site.data.home.totaldevops.rules.rules2 -%} 
                        <ul class="list-none">
                            <li class="list-none-plus">
                            <p style="font-size: 1rem;">  
                                <i class="{{ site.data.home.plus.icon }}"></i>
                                {{ it.item }}
                            </p>  
                            </li>
                        </ul>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>