.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.list-none {
	list-style: none;
	padding-left: 0.5em;
}

.list-none-li {
	list-style-type: none;
	font-size: 150%;
	text-align: justify;
}

.list-none-plus {
	list-style-type: none;
	font-size: 120%;
	text-align: justify;
}

.arrow {
	padding-right: 2em;
}

.link {	
    text-decoration: none;
}

.img-fluid.brand {
	opacity: 0.5;
}