---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Navigation -->
    {% include navbar.html %}

    <!-- Header -->
    {% include header.html %}

    <!-- Cooperation -->
    {% include cooperation.html %}

    <!-- Credentials -->
    {% include credentials.html %}
    
    <!-- Portfolio Grid -->
    {% include portfolio.html %}

    <!-- Repo -->
    {% include repo.html %}

    <!-- Benefits -->
    <!--{% include benefits.html %}-->

    <!-- Specialists  -->
    {% include specialists.html %}

    <!-- Total DevOps -->
    {% include totaldevops.html %}
    
    <!-- Brands  -->
    {% include brands.html %}

    <!-- Contact -->
    {% include contact.html %}