---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Navigation -->
    <!--
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" style="margin-left: 1em;">{{site.data.default.brand.name}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          {{ site.data.default.menu-string }}
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            {%- for link in site.data.default.nav -%}
            {% assign ws = '' %}
            <li class="nav-item" >
              <a id="nav-item" class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {%- endfor -%}
          {% assign ws = '' %}
          </ul>
        </div>
    </nav>
    -->
    {% include navbar.html%}

    <!-- Header -->
    <header class="masthead">
      <div class="container"  style="margin-left: 10%">
        <div class="row">
          <div class="col-lg-5 intro-text">
            <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div>
            <div class="intro-heading ">{{ site.data.home.intro.heading }}</div>
            <div class="intro-heading " style="color: #49e63d;">{{ site.data.home.intro.heading-2 }}</div>
            <div class="intro-heading ">{{ site.data.home.intro.heading-3 }}</div>
            <br>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#cooperation" style="float: left;">{{ site.data.home.intro.btn }}</a>
          </div>
          <div class="col-lg-7">

          </div>
        </div>
      </div>
    </header>

    <!-- cooperation -->
    <section id="cooperation">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#cooperation1">COOPERATION WITH DEVOPS TEAM</a>
          </div>

          <div class="col-lg-6 text-center">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#totaldevops" >TOTAL DEVOPS INITIATIVE</a>
          </div>
        </div>
      </div>
    </section>

    <section id="cooperation1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.cooperation.heading }}</h2>
          </div>
          </div>
          <div class="row text-center">
            <div class="col-lg-12 text-center">
              <h5 class="section-heading text-uppercase " style="font-weight: 60%;">{{ site.data.home.cooperation.section1heading }}</h5>
              
              <img id="img-wyjasnienie" class="img-fluid img-margin " src="{{ assets_path }}{{ site.data.home.cooperation.img }}" alt="">
            </div>
          </div>

        <div class="row text-center">
           <div class="col-lg-12 text-center">
              <h5 class="section-heading text-uppercase img-margin" style="font-weight: 60%;">{{ site.data.home.cooperation.section2heading }}</h5>      
          </div>
          {%- for service in site.data.home.cooperation.service -%}
          {% assign ws = '' %}
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ service.heading }}</h4>
            <p class="text-muted">{{ service.text }}</p>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>


    <!-- TOTAL DEVOPS -->
    <section class="totaldevops" id="credentials">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Credentials</h2>
          </div>
        </div>
        <br>
        <br>
        <!-- Store systems implementation for big UK telco -->
        <div class="row">
          <div class="col-md-12">
            <h4 style="text-align: center; margin: 2.7rem;">
                Store systems implementation for big UK telco
            </h4>
          </div>
          <div class="col-md-3">
            <p style="text-align: justify;">
              <b>
                Shortlisted for UK Computing Magazine DevOps project of the year 2019
              </b>
            </p>
            <p style="text-align: justify;">
              Full scale DevOps approach using latext technologies, containerization and infrastructure as a code in order to provide best possible working environment for the project and extremely efficient massive deployment solution.
            </p>
            <p style="text-align: justify;">
              XStore implementation uses full cloud approach on AWS with all latext Amazon possibilities like Elastic Container Service for automatic sizing and Lambda code for infra triggered actions
            </p>
          </div>
          <div class="col-md-9" style="padding: 0.2rem;">
            <img style="width: inherit" class="img-fluid zoom" src="/assets/img/t.png">
          </div>
        </div>
        <br>
        <hr>
        <br>
        <!--Retail system implementation for big polish shoes retailer  -->
        <div class="row">
          <div class="col-md-12">
            <h4 style="text-align: center; padding: 0.2rem;">
                Retail system implementation for big polish shoes retailer
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="text-align: center;">
              Full scale DevOps processes usage starting from high level design and finished with end-to-end implementation
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="padding: 0.2rem;">
            <img  style="  display:block;  margin-left: auto;  margin-right: auto;" src="assets/img/c.png" alt="">
          </div>
        </div>
        <!-- Billing system implementation for big polish telco -->
        <br>
        <hr>
        <br>
        <div class="row" style="padding: 0.2rem;">
          <div class="col-md-12">
            <h4 style="text-align: center; padding: 0.2rem;">
              Billing system implementation for big polish telco                
            </h4>
            <p style="text-align: justify; padding: 0.5rem; margin-left: 2%; margin-left: 2%;">
              DevOps implementation for system that was problematic in maintenance and not fully suitable for such approach. We’ve managed to implement automated processes that given big gains for AM, DEV and TA teams
            </p>
          </div>
        </div>
        <div class="row" style="padding: 0.2rem;">
          <div class="col-md-6">
            <h5 style="text-align: center">
                TA & AM gains
            </h5>
            <ul>
                <li>	Lowered number of deployment incidents</li>
                <li>	Lowered production GoLive effort on average by 20h of work</li>
                <li>	Lowered environments deployment effort by few hours on average</li>
                <li>	Automated monitoring</li>
                <li>	Automated fix of some kind of errors</li>
                <li>	Easier bugfixing due to full traceability between code and requirements</li>
                <li>	Easier bugfixing thanks to ensured alignment of preprod and prod code and configuration</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h5 style="text-align: center">DEV gains</h5>
            <ul>
              <li>	Easier handling of changing business requirements due to work with multiple code feature branches</li>
              <li>	Increased documentation quality and usage due to automated generation from code</li>
              <li>	Increased code quality due to automated testing</li>
              <li>	Easy creation of separated developers environments</li>
              <li>	Easy testing and experimenting due to possibility of quick recreation of developer environment</li>
            </ul>
          </div>
        </div>
        <br>
        <hr>
        <br>
        <!-- FOrmal DevOps processes... -->
        <div class="row" style="padding: 0.2rem;">
          <div class="col-md-12">
            <h4 style="text-align: center; padding: 0.2rem;">
              Formal DevOps processes assessment and roadmap for big Italian bank
            </h4>
            <p style="text-align: center; padding: 0.2rem;">
              Assessment done using Accenture tools and Accenture DevOps maturity model                
            </p>
          </div>

        </div>
        <div class="row" style="padding: 1.8rem;">
          <div class="col-md-12">
            
              <img style="  display:block;  margin-left: auto;  margin-right: auto;" src="/assets/img/u1.png">
          </div>
        </div>
        <div class="row" style="padding: 1.8rem;">
          <div class="col-md-12">
            
              <img  style="  display:block;  margin-left: auto;  margin-right: auto;" src="/assets/img/u2.png">
          </div>
        </div>
      </div>
        
    </section>
    
    <!-- Portfolio Grid -->
     <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.portfolio.heading }}</h2>
            <h3 class="section-subheading text-muted" style="font-style: italic;">{{ site.data.home.portfolio.subheading }}</h3>
            
            <h3 class="section-heading text-uppercase" style="font-weight: 60%;">{{ site.data.home.portfolio.section1heading }}</h3>
            <h3 class="section-subheading text-muted" style="font-style: italic;">{{ site.data.home.portfolio.text }}</h3>
          </div>
        </div>

        <div class="row">
          {%- for project in site.posts -%}
          {% assign ws = '' %}
          {% if project.cheap == true %}
          <div class="col-md-4 col-sm-6 portfolio-item">
             <a href="#portfolioModal{{ project.modal-id }}" class="portfolio-link" data-toggle="modal">
              <!-- <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ project.id | replace: '/projects/', '' }}"> -->
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-eye fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
            <!-- </a> -->
              <div class="portfolio-caption">
                <h4>{{ project.description }}</h4>
                <p class="text-muted">{{ project.subheading }}</p>
                <p class="text-muted" style="font-style: italic;">{{ project.people }}</p>
              </div>
            </a>
          </div>
          {%- endif -%}
          {%- endfor -%}
          {% assign ws = '' %}
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase" style="font-weight: 60%;">{{ site.data.home.portfolio.section2heading }}</h3>
            <h3 class="section-subheading text-muted" style="font-style: italic;">{{ site.data.home.portfolio.text }}</h3>
          </div>
        </div>


        <div class="row">
          {%- for project in site.posts -%}
          {% assign ws = '' %}
          {% if project.cheap == false %}
          <div class="col-md-6 col-sm-6 portfolio-item">
             <a href="#portfolioModal{{ project.modal-id }}" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-eye fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
            <!-- </a> -->
              <div class="portfolio-caption">
                <h4>{{ project.description }}</h4>
                <p class="text-muted">{{ project.subheading }}</p>
                <p class="text-muted" style="
          font-style: italic;">{{ project.people }}</p>
              </div>
            </a>
          </div>
          {%- endif -%}
          {%- endfor -%}
        {% assign ws = '' %}
        </div>

      </div>
    </section>


    <!-- Repo -->
    <section  id="repo">
       <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.repo.heading }}</h2>
            <h3 class="section-subheading text-muted" style="font-style: italic;">{{ site.data.home.repo.subheading }}</h3>
          </div>
        </div>

        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase" style="padding: 2em; font-weight: 60%;" style="font-style: italic;">{{ site.data.home.repo.repoheading }}</h3>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-9 order-lg-2">
            <div class="p-5">
              <img class="img-fluid zoom" src="assets/img/about/repo.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-3 order-lg-1">
              <ul class = "list-none">
                <li class="list-none-li"><a href="{{site.data.default.reponame.phab}}">PHABRICATOR</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.bitbucket}}">BITBUCKET</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.gitlab}}">GITLAB</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.github}}">GITHUB</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.vsts}}">AZURE DEVOPS</a></li>
              </ul>
          </div>
        </div>

        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase" style="padding: 2em; font-weight: 60%;">{{ site.data.home.repo.almheading }}</h3>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-9">
            <div class="p-5">
              <img class="img-fluid zoom" src="assets/img/about/alm.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-3">
              <ul class="list-none">
                <li class="list-none-li"><a href="{{site.data.default.reponame.phab}}">PHABRICATOR</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.jiraatl}}">JIRA ATLASSIAN</a></li>
              </ul>
          </div>
        </div>
        </div>
    </section>

    <!-- BENEFITS -->
    <section class="plus" id="plus">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.plus.heading }}</h2>
            <h3 class="section-subheading text-muted" style="font-style: italic;">{{ site.data.home.plus.subheading }}</h3>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
            {%- for item in site.data.home.plus.content -%}
            {% assign ws = '' %}
            <div class="col-md-6">
              <div class="p-3">
                <h3 class="display-4" style="font-size: 2.5rem; text-align: center;">{{ item.name }}</h3>
                <p style="text-align:  center;">
                  {{ item.text }}
                </p>
                <ul class="list-none">
                  {%- for it in item.advantages -%}
                  {% assign ws = '' %}
                  <li class="list-none-plus">
                    <p style="text-align: justify;">
                      <i class="{{ site.data.home.plus.icon }}" style="padding-right: 0.1em;"></i>
                      {{ it.check }}
                    </p>
                  </li>
                  {%- endfor -%}
                  {% assign ws = '' %}
                </ul>
              </div>
            </div>
            {%- endfor -%}
            {% assign ws = '' %}
          </div>
        </div>
      </div>

    </section>

    <!-- Capacity -->
    <section class="bg-light" id="capacity">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">{{ site.data.home.capacity.heading }}</h2>
              <h3 class="section-subheading text-muted" style="font-style: italic;">{{ site.data.home.capacity.subheading }}</h3>
            </div>
          </div>

          <div class="container">
            <div class="row" style="padding: 2%">
              <div class="col-lg-12 text-center">
                <h4 class="section-heading text-uppercase" style="padding: 0.7rem;">{{ site.data.home.capacity.min_heading }}</h4>
              </div>

              <div>
              {%- for rule in site.data.home.capacity.managed -%}
              {% assign ws = '' %}              
              <ul class="list-none"  >
                <li class="list-none-li"  style="font-size: 1.2rem;"><i class="fa fa-arrow-right arrow"></i>{{ rule.item }}</li>
              </ul>
              {%- endfor -%}
              {% assign ws = '' %}
              </div>

              <br>
            
              <div class="col-lg-12 text-center">
                <h4 class="section-heading text-uppercase" style="padding: 0.7rem;">{{ site.data.home.capacity.min_heading2 }}</h4>
              </div>
              <div>
                {%- for rule in site.data.home.capacity.rules -%}
                {% assign ws = '' %}              
                <ul class="list-none"  >
                  <li class="list-none-li" style="font-size: 1.2rem;"><i class="fa fa-arrow-right arrow"></i>{{ rule.item }}</li>
                </ul>
                {%- endfor -%}
                {% assign ws = '' %}

                {%- for i in site.data.home.capacity.agile -%}
                {% assign ws = '' %}  
                <!-- LIST ITEMS FOR LAST  RULE! CHANGE IN ORDER OF RULE WILL CHANGE SENSE OF MEANING-->
                <ul class="list-none">
                  <li class="list-none-li" style="padding-left: 1.7em; font-size: 1.1rem;"><i class="fa fa-caret-right" aria-hidden="true"></i>   {{ i.it }}</li>
                </ul>
                {%- endfor -%}
                {% assign ws = '' %}
              </div>
            </div>
          </div>
        </div>
    </section>l

    <!-- Specjalisci  -->
    <section id="people">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">{{ site.data.home.people.heading }}</h2>
              <h3 class="section-subheading text-muted" style="font-style: italic;">{{ site.data.home.people.subheading }}</h3>
            </div>
          </div>

    <!-- BUTTONS -->
          <div class="row">
            <div class="col-md-6 people">
              <h3 class="people-header"> ŁÓDŹ </h3>
              <div class="row">
                {%- for project in site.posts -%}
                {% assign ws = '' %}
                  {% if project.curriculum == true %}
                    {% if project.lodz == true %}  
                      {% if project.cv-info == true %}
                      <div class="col-sm-6 portfolio-item">
                        <a href="#portfolioModal{{ project.modal-id }}" class="portfolio-link btn btn-success btn-xl" role="button" aria-pressed="true"  data-toggle="modal" style="color: white;">
                          
                          {{project.title}}
                        </a>
                      </div>
                      {% else %}
                      <div class="col-sm-6 portfolio-item">
                        <a href="#" class="portfolio-link btn btn-success btn-xl" role="button" aria-pressed="true"  data-toggle="modal" style="color: white;">
                          
                          {{project.title}}
                        </a>
                      </div>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
                {% assign ws = '' %}
              </div> 
            </div>

            <div class="col-md-6 people">
              <h3 class="people-header"> KATOWICE </h3>
              <div class="row">
                {%- for project in site.posts -%}
                {% assign ws = '' %}
                  {% if project.curriculum == true %}
                    {% if project.lodz == false %}  
                      {% if project.cv-info == true %}
                        <div class="col-sm-6 portfolio-item">
                        <a href="#portfolioModal{{ project.modal-id }}" class="portfolio-link  btn btn-success btn-xl" role="button" aria-pressed="true"  data-toggle="modal" style="color: white;">
                          
                          {{project.title}}
                        </a>
                      </div>
                      {% else %}
                      <div class="col-sm-6 portfolio-item">
                        <a href="#" class="portfolio-link btn btn-success btn-xl" role="button" aria-pressed="true"  data-toggle="modal" style="color: white;">
                          {{project.title}}
                        </a>
                      </div>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
                {% assign ws = '' %}
              </div>
            </div> 

        </div>
      </div>
    </section>

    <!-- TOTAL DEVOPS -->
    <section class="totaldevops" id="totaldevops" style="padding-top: 0">
      <img style="padding-bottom: 5rem; width:90%;" src="assets/img/total.png"> 
      <div class="container">            
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <h2 class="display-4" style="font-size: 1.8rem; text-align: center;">DEFINITION</h2>
                <p style="text-align: justify; font-size: 1.2rem;">
                    The purpose of the initiative is to ensure that all ATC Poland project will be using DevOps, except very short or special projects where DevOps implementation wouldn't have business case
                    Target and profits.  
                </p>
            </div>
            <div class="col-md-4">
              <div class="p-3">
                
                <h3 style="font-size: 1.3rem; text-align: left;">Target and profits</h3>
                <ul class="list-none">
                  <li class="list-none-plus">
                    <p style="font-size: 1rem;">
                        <i class="{{ site.data.home.plus.icon }}"></i>
                        Distinguish our center as modern and leading one => more interesting project, additional strength of our center 
                        </p>
                  </li>
                  <li class="list-none-plus">
                    <p style="font-size: 1rem;">  
                        <i class="{{ site.data.home.plus.icon }}"></i>
                        Increased efficiency of our teams => clients & client teams satisfaction, higher profitablity of projects, better value for the client
                    </p>  
                  </li>
                  <li class="list-none-plus">
                    <p style="font-size: 1rem;">  
                        <i class="{{ site.data.home.plus.icon }}"></i>
                        Work in modern way in modern environment => higher satisfaction and motivation of our people
                    </p>  
                  </li>
                  
                </ul>
              </div>
            </div>
            <div class="col-md-8">
                <img  src="assets/img/c.png" alt="">
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="row">
            <div class="col-md-12">
              <h3 class="display-4" style="font-size: 1.8rem; text-align: left;">Rules</h3>
              <div class="p-3">
                <ul class="list-none">
                  <li class="list-none-plus">
                    <p style="font-size: 1rem;">
                      <i class="{{ site.data.home.plus.icon }}"></i>
                      Before start of the new project TL from project side and DevOps team expert will fill in short questionaire for assesment of the planned project processes with DevOps standards in the same time discussing best DevOps practices  
                    </p>
                  </li>
                  <li class="list-none-plus">
                    <p style="font-size: 1rem;">
                      <i class="{{ site.data.home.plus.icon }}"></i>
                      Basing on that discussion TL with DevOps expert will agree on planned scope of DevOps implementation for given project and agree on level of engagement of DevOps team for given project in accordance with rules described on this page
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="  display:block;"> 
              <img style="  display:block;  margin-left: auto;  margin-right: auto;" src="assets/img/s_a.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="p-3">
                    <ul class="list-none">
                      <li class="list-none-plus">
                        <p style="font-size: 1rem;">  
                          <i class="{{ site.data.home.plus.icon }}"></i>
                          For new project we will inform Client Teams about initiative as soon as possible. On latext during DCSO definition.  
                        </p>  
                      </li>
                      <li class="list-none-plus">
                        <p style="font-size: 1rem;">  
                          <i class="{{ site.data.home.plus.icon }}"></i>
                          For existing projects we will apply the same rules, starting from the biggest and long lasting projects.
                        </p>  
                      </li>
                    </ul>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    
    <!-- Brands  -->
    <section class="py-5">
      <div class="container">
        <div class="row">
          {%- for technology in site.data.home.technologies -%}
          {% assign ws = '' %}
          <div class="col-md-3 col-sm-6" style="padding-top: 3em;">
              <img class="img-fluid brand d-block mx-auto" src="{{ assets_path }}{{ technology.img }}" alt="">
          </div>
          {%-  endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            {%- for email in site.data.home.contact.emails -%}
            {% assign ws = '' %}
              <h4 class="link text-muted">
                <a href="mailto:{{email.email}}">{{email.email}}</a>
              </h4>
            {%-  endfor -%}
            {% assign ws = '' %}
          </div>
        </div>
      </div>
    </section>
