---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <!-- <div class="container"> -->
        <a class="navbar-brand js-scroll-trigger" href="#page-top" style="margin-left: 4em;">{{ site.data.default.brand.name }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          {{ site.data.default.menu-string }}
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            {%- for link in site.data.default.nav -%}
            {% assign ws = '' %}
            <li class="nav-item" >
              <a id="nav-item" class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {%- endfor -%}
          {% assign ws = '' %}
          </ul>
        </div>
      <!-- </div> -->
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div>
          <div class="intro-heading text-uppercase">{{ site.data.home.intro.heading }}</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#cooperation">{{ site.data.home.intro.btn }}</a>
        </div>
      </div>
    </header>

    <!-- cooperation -->
    <section id="cooperation">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.cooperation.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.cooperation.subheading }}</h3>
          </div>
        </div>
        <div class="row text-center">
          {%- for service in site.data.home.cooperation.service -%}
          {% assign ws = '' %}
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ service.heading }}</h4>
            <p class="text-muted">{{ service.text }}</p>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
     <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.portfolio.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.portfolio.subheading }}</h3>
            
            <h3 class="section-heading text-uppercase" style="font-weight: 60%;">{{ site.data.home.portfolio.section1heading }}</h3>
            <h3 class="section-subheading text-muted">{{ site.data.home.portfolio.text }}</h3>
          </div>
        </div>



        <div class="row">
          {%- for project in site.posts -%}
          {% assign ws = '' %}
          {% if project.cheap == true %}
          <div class="col-md-4 col-sm-6 portfolio-item">
             <a href="#portfolioModal{{ project.modal-id }}" class="portfolio-link" data-toggle="modal">
              <!-- <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ project.id | replace: '/projects/', '' }}"> -->
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-eye fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>{{ project.description }}</h4>
              <p class="text-muted">{{ project.subheading }}</p>
              <p class="text-muted">{{ project.people }}</p>
            </div>
          </div>
          {%- endif -%}
          {%- endfor -%}
          {% assign ws = '' %}
        </div>

        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase" style="font-weight: 60%;">{{ site.data.home.portfolio.section2heading }}</h3>
            <h3 class="section-subheading text-muted">{{ site.data.home.portfolio.text }}</h3>
          </div>
        </div>


        <div class="row">
          {%- for project in site.posts -%}
          {% assign ws = '' %}
          {% if project.cheap == false %}
          <div class="col-md-6 col-sm-6 portfolio-item">
             <a href="#portfolioModal{{ project.modal-id }}" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-eye fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>{{ project.description }}</h4>
              <p class="text-muted">{{ project.subheading }}</p>
              <p class="text-muted" style="
        font-style: italic;">{{ project.people }}</p>
            </div>
          </div>
          {%- endif -%}
          {%- endfor -%}
        {% assign ws = '' %}
        </div>

      </div>
    </section>


    <!-- Repo -->
    <section  id="repo">
       <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.repo.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.repo.subheading }}</h3>
          </div>
        </div>

        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase" style="padding: 2em; font-weight: 60%;">{{ site.data.home.repo.repoheading }}</h3>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-9 order-lg-2">
            <div class="p-5">
              <img class="img-fluid zoom" src="assets/img/about/repo.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-3 order-lg-1">
              <ul class = "list-none">
                <li class="list-none-li"><a href="{{site.data.default.reponame.phab}}">PHABRICATOR</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.bitbucket}}">BITBUCKET</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.gitlab}}">GITLAB</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.github}}">GITHUB</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.vsts}}">VISUAL STUDIO TEAM SERVICES</a></li>
              </ul>
          </div>
        </div>

        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase" style="padding: 2em; font-weight: 60%;">{{ site.data.home.repo.almheading }}</h3>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-9">
            <div class="p-5">
              <img class="img-fluid zoom" src="assets/img/about/alm.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-3">
              <ul class="list-none">
                <li class="list-none-li"><a href="{{site.data.default.reponame.phab}}">PHABRICATOR</a></li>
                <li class="list-none-li"><a href="{{site.data.default.reponame.jiraatl}}">JIRA ATLASSIAN</a></li>
              </ul>
          </div>
        </div>
        </div>
    </section>

    <!-- plus -->
    <section class="plus" id="plus">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.plus.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.plus.subheading }}</h3>
          </div>
        </div>
        
        <div class="container">
          <div class="row">
            {%- for item in site.data.home.plus.content -%}
            {% assign ws = '' %}
            <div class="col-md-6">
              <div class="p-3">
                <h3 class="display-4" style="font-size: 2.5rem; text-align: center;">{{ item.name }}</h3>
                <p style="text-align:  center;">
                  {{ item.text }}
                </p>
                <ul class="list-none">
                  {%- for it in item.advantages -%}
                  {% assign ws = '' %}
                  <li class="list-none-plus">
                    <p>
                      <i class="{{ site.data.home.plus.icon }}" style="padding-right: 0.1em;"></i>
                      {{ it.check }}
                    </p>
                  </li>
                  {%- endfor -%}
                  {% assign ws = '' %}
                </ul>
              </div>
            </div>
            {%- endfor -%}
            {% assign ws = '' %}
          </div>
        </div>
      </div>

    </section>

    <!-- Capacity -->
    <section class="bg-light" id="capacity">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">{{ site.data.home.capacity.heading }}</h2>
              <h3 class="section-subheading text-muted">{{ site.data.home.capacity.subheading }}</h3>
            </div>
          </div>

          <div class="container">
            {%- for rule in site.data.home.capacity.rules -%}
            {% assign ws = '' %}              
            <ul class="list-none">
              <li class="list-none-li"><i class="fa fa-arrow-right arrow"></i>{{ rule.item }}</li>
            </ul>
            {%- endfor -%}
            {% assign ws = '' %}
          </div>

        </div>
    </section>l

    <!-- Specjalisci  -->
    <section id="people">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">{{ site.data.home.people.heading }}</h2>
              <h3 class="section-subheading text-muted">{{ site.data.home.people.subheading }}</h3>
            </div>
          </div>

<!-- WERSJA 1 - z nazwiskami -->
          <div class="row">
            <div class="col-md-6 people">
              <h3 class="people-header"> ŁÓDŹ </h3>
              <div class="row">
                {%- for project in site.posts -%}
                {% assign ws = '' %}
                  {% if project.curriculum == true %}
                    {% if project.lodz == true %}  
                      {% if project.cv-info == true %}
                      <div class="col-sm-6 portfolio-item">
                        <a href="#portfolioModal{{ project.modal-id }}" class="portfolio-link" data-toggle="modal">
                          <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                              <i class="fa fa-user fa-3x"></i>
                            </div>
                          </div>
                          <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
                        </a>
                      </div>
                      {% else %}
                      <div class="col-sm-6 portfolio-item">
                        <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
                      </div>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
                {% assign ws = '' %}
              </div> 
            </div>

            <div class="col-md-6 people">
              <h3 class="people-header"> KATOWICE </h3>
              <div class="row">
                {%- for project in site.posts -%}
                {% assign ws = '' %}
                  {% if project.curriculum == true %}
                    {% if project.lodz == false %}  
                      {% if project.cv-info == true %}
                        <div class="col-sm-6 portfolio-item">
                          <a href="#portfolioModal{{ project.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                              <div class="portfolio-hover-content">
                                <i class="fa fa-user fa-3x"></i>
                              </div>
                            </div>
                            <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
                          </a>
                        </div>
                        {% else %}
                        <div class="col-sm-6 portfolio-item">
                          <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
                {% assign ws = '' %}
              </div>
            </div> 

        </div>
      </div>
    </section>

    <!-- Brands  -->
    <section class="py-5">
      <div class="container">
        <div class="row">
          {%- for technology in site.data.home.technologies -%}
          {% assign ws = '' %}
          <div class="col-md-3 col-sm-6" style="padding-top: 3em;">
              <img class="img-fluid brand d-block mx-auto" src="{{ assets_path }}{{ technology.img }}" alt="">
          </div>
          {%-  endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            {%- for email in site.data.home.contact.emails -%}
            {% assign ws = '' %}
              <h4 class="link text-muted">
                <a href="mailto:{{email.email}}">{{email.email}}</a>
              </h4>
            {%-  endfor -%}
            {% assign ws = '' %}
          </div>
        </div>
      </div>
    </section>
